.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 12px 20px;

    .container {
        padding: 0;
    }

    .header-left {
        width: 21px;

        button {
            font-size: 20px;
            padding: 0;
            margin: 0;
            display: flex;

            &:active, &:focus, &:hover {
                text-decoration: none;
            }
        }
    }

    .header-right {
        width: 21px;

        form {
            display: flex;
        }
        select#language {
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            padding: 0;
        }
    }

    .container, select#language {
        height: 20px;
    }

    select#language {
        line-height: 18px;
    }
}
