a {
    color: map-get($theme-colors, primary);

    &:hover {
        color: map-get($theme-colors, primary);
    }
}

.progress-page .progress {
    height: .125rem;
    background-color: transparent;

    .progress-bar {
        background-color: map-get($theme-colors, primary)
    }
}