// Customize style based on hotel theme

$theme-colors: (
    primary     : #ff9e1b,
    danger      : #ff3f20,
    dark        : #000,
    success     : #10ff00,
    info        : #5a76ff,
    light       : #f0f0f0,
    secondary   : #aaaaaa,
);  
$text-colors: (
    primary     : #fff,
    danger      : #fff,
    dark        : #fff,
    success     : #fff,
    info        : #fff,
    light       : #3c4858,
    secondary   : #f0f0f0,
);

$font-size      : .875rem;
$font-color     : #000;

$all-round-btn  : true;
$all-btn-radius : 25px;

$border-color   : #dee2e6;

$modal-radius   : 10px;
