# compile python file and pycache
__pycache__
*.pyc

# db file
*.sqlite3

# storage, temp folder
/storage

# npm files
node_modules
package-lock.json

# cache js and css files
hotel_guest/static

# uploaded file
hotel_guest/media/*
!hotel_guest/media/.keep

# logs
logs

# lib
*.egg-info

# mac-os
.DS_Store
