{% extends 'check_out/desktop/base_desktop.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_out/scss/desktop/bill.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block content %}
    {{ block.super }}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row page-header">
            <div class="col-lg-12 text-center">
                {% blocktrans %}Bill Review & Check Out{% endblocktrans %}
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-lg-12 px-0 text-center text-secondary">
                {% if request.session.check_out.bills|length != 1 %}
                    {% blocktrans %}Select which of the guest to view the bill folio.{% endblocktrans %}
                {% endif %}
            </div>
        </div>
        <div class="row page-content">
            <div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-12 col-lg-4 mx-auto">
                        <div class="md-form input-center input-boxed">
                            {% if form.is_bound and form.reservation_no.errors %}
                                {% if request.session.check_out.bills|length == 1 %}
                                    {% render_field form.reservation_no class="form-control md-select is-invalid" hidden="true" %}
                                {% else %}
                                    {% render_field form.reservation_no class="form-control md-select is-invalid" %}
                                {% endif %}
                                {% for error in form.reservation_no.errors %}
                                    <div class="invalid-feedback">{{ error }}</div>
                                {% endfor %}
                            {% else %}
                                {% if request.session.check_out.bills|length == 1 %}
                                    {% render_field form.reservation_no class="form-control md-select" hidden="true" %}
                                {% else %}
                                    {% render_field form.reservation_no class="form-control md-select" %}
                                {% endif %}
                                {% if form.reservation_no.help_text %}
                                    <small class="form-text text-muted">{{ form.reservation_no.help_text }}</small>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% if object.show_bill %}
                    <div class="row mb-4">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% if object.reservationInfo|length > 1 %}
                                        <div class="collapse-container">
                                            {% for reservation in object.reservationInfo %}
                                                <div class="card">
                                                    <div class="card-header">
                                                        <a class="collapsed" data-toggle="collapse" href="#collapse-{{ forloop.counter0 }}" role="button" aria-expanded="false" aria-controls="collapse-{{ forloop.counter0 }}">
                                                            <div class="collapse-header">
                                                                {{ reservation.firstName }} {{ reservation.lastName }}
                                                                <i class="fas fa-angle-down rotate-icon"></i>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="collapse" id="collapse-{{ forloop.counter0 }}">
                                                        <div class="card-body">
                                                            <div class="row mb-3">
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="reservation-no">{% trans 'Reservation No:' %} {{ reservation.pmsNo }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="room-no">{% trans 'Room No:' %} {{ reservation.roomNo }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="arrival-date">{% trans 'Arrival Date:' %} {{ reservation.arrivalDate }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="departure-date">{% trans 'Departure Date:' %} {{ reservation.departureDate }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row mb-4">
                                                                <div class="col-lg-12">
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="gst-no">{% trans 'GST Reg. No:' %} {{ gst_no }}</span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <span id="gst-no">{% trans 'Business Reg. No:' %} {{ business_no }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-sm table-borderless mb-0">
                                                                                <th class="text-uppercase font-weight-normal">{% trans 'Date' %}</th>
                                                                                <th class="text-uppercase font-weight-normal">{% trans 'Description' %}</th>
                                                                                <th class="text-uppercase font-weight-normal text-right">{% trans 'Amount' %}</th>
                                                                            </thead>
                                                                            <tbody>
                                                                                {% for item in reservation.items %}
                                                                                    <tr>
                                                                                        <td>{{ item.date }}</td>
                                                                                        <td>{{ item.itemName }}</td>
                                                                                        <td class="text-right">{{ item.amount|floatformat:2|intcomma }}</td>
                                                                                    </tr>
                                                                                {% endfor %}
                                                                            </tbody>
                                                                            <tfoot>
                                                                                <tr class="border-top-2">
                                                                                    <td class="text-right text-uppercase" colspan="2">{% trans 'Balance Due' %}</td>
                                                                                    <td class="text-right pr-0">{{ currency_symbol }} {{ reservation.grandTotal|floatformat:2|intcomma }}</td>
                                                                                </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {% for reservation in object.reservationInfo %}
                                            <div class="row mb-3">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="guest-name font-weight-bold">{{ reservation.firstName }} {{ reservation.lastName }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="reservation-no">{% trans 'Reservation No:' %} {{ reservation.pmsNo }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="room-no">{% trans 'Room No:' %} {{ reservation.roomNo }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="arrival-date">{% trans 'Arrival Date:' %} {{ reservation.arrivalDate }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="departure-date">{% trans 'Departure Date:' %} {{ reservation.departureDate }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-4">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="gst-no">{% trans 'GST Reg. No:' %} {{ gst_no }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <span id="gst-no">{% trans 'Business Reg. No:' %} {{ business_no }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-sm table-borderless mb-0">
                                                            <thead>
                                                                <th class="text-uppercase font-weight-normal">{% trans 'Date' %}</th>
                                                                <th class="text-uppercase font-weight-normal">{% trans 'Description' %}</th>
                                                                <th class="text-uppercase font-weight-normal text-right">{% trans 'Amount' %}</th>
                                                            </thead>
                                                            <tbody>
                                                                {% for item in reservation.items %}
                                                                    <tr>
                                                                        <td>{{ item.date }}</td>
                                                                        <td>{{ item.itemName }}</td>
                                                                        <td class="text-right">{{ item.amount|floatformat:2|intcomma }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                            <tfoot>
                                                                <tr class="border-top-2">
                                                                    <td class="text-right text-uppercase" colspan="2">{% trans 'Balance Due' %}</td>
                                                                    <td class="text-right">{{ currency_symbol }} {{ reservation.grandTotal|floatformat:2|intcomma }}</td>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-borderless">
                                            <tfoot>
                                                <tr class="border-top-2">
                                                    <td class="text-right">{% trans 'GST at 7%'%}</td>
                                                    <td class="text-right">{{ currency_symbol }} {{ object.totalTax|default:0|floatformat:2|intcomma }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="font-weight-bold text-right">{% trans 'Total Amount Payable' %}</td>
                                                    <td class="font-weight-bold text-right">{{ currency_symbol }} {{ object.totalAmount|floatformat:2|intcomma }}</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row mb-3">
                            <div class="col-lg-12 text-secondary text-10">
                                {% blocktrans %}This is a computer-generated preliminary bill folio and not a tax invoice.{% endblocktrans %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12 text-secondary text-10">
                                {% blocktrans %}I agree that my liability for this bill is not waived and agree to be held personally liable in the event that the indicated person, company or association fails to pay for any part of the full amount of the charges.{% endblocktrans %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-danger text-10">
                                {% blocktrans %}Outstanding balance will be charged to the credit card registered.{% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-footer">
            <div class="col-lg-12 d-flex justify-content-center">
                {% if not request.session.check_out.complete and object.overallStatus %}
                    <button type="submit" class="btn btn-danger btn-block btn-round m-0" id="btn-submit">
                        {% trans 'Check Out' %}
                        {% if object.reservationInfo|length > 1 %}
                            ({{ object.reservationInfo|length }})
                        {% endif %}
                    </button>
                {% else %}
                    <div class="text-danger">
                        {% if object.reservationInfo|length > 1 %}
                            {% blocktrans %}Unable to proceed with some of the guest's check-out. Please check-out at the Front Desk.{% endblocktrans %}
                        {% else %}
                            {% blocktrans %}Unable to proceed with this guest's check-out. Please check-out at the Front Desk.{% endblocktrans %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Message Modal -->
    {% for message in messages %}
        <div class="modal fade auto-show" id="message-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">
                            {% if message.tags == 'success' %}
                                {% trans 'Check Out Successful' %}
                            {% else %}
                                {% trans 'Error' %}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {{ message|linebreaks }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal fade auto-show" id="form-error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">{% trans 'Invalid Input' %}</h4>
                    </div>
                    <div class="modal-body">
                        {{ error|linebreaks }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <!-- ShowBill Modal -->
    {% if not object.show_bill %}
        <div class="modal fade auto-show" id="show-bill-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">{% trans 'Check Out Error' %}</h4>
                    </div>
                    <div class="modal-body">
                        {% blocktrans %}Please kindly proceed to the hotel main lobby to checkout. Thank you.{% endblocktrans %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" id="btn-ok" data-dismiss="modal">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock wrapper %}

{% block data_js %}
    {{ block.super }}
    {{ request.session.check_out.complete|json_script:'check-out-complete' }}
{% endblock data_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'check_out/js/desktop/bill.js' %}"></script>
{% endblock static_js %}
