{% extends 'pre_arrival/base.html' %}
{% load i18n %}
{% load static %}

{% block header_left %}
    {% if request.path in '/pre_arrival/reservation/,/pre_arrival/passport/,/pre_arrival/detail/,/pre_arrival/extra_passport/,/pre_arrival/other_info/' %}
        <div class="timer-text text-secondary ">
            <span class="timer-tick"></span>
        </div>
    {% endif %}
{% endblock header_left %}

{% block timer %}
    {% if request.path in '/pre_arrival/reservation/,/pre_arrival/passport/,/pre_arrival/detail/,/pre_arrival/extra_passport/,/pre_arrival/other_info/' %}
        <!-- Timer Extension Modal -->
        <div class="modal fade" id="timer-extension-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <form id="form-timer-extension">
                        {% csrf_token %}
                        <div class="modal-header bg-primary text-white">
                            <h4 class="modal-title mx-auto">{% trans 'Session Expiring' %}</h4>
                        </div>
                        <div class="modal-body mb-5 mx-4">
                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    {% trans 'Your session is expiring soon' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {% trans 'Remaining session time:' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="timer-tick"></span>
                                    <input type="hidden" name="token_id" value="{{ SESSION_EXTEND_TOKEN_ID }}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary mx-auto">{% trans 'Extend' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Timer Expired Modal -->
        <div class="modal fade" id="timer-expired-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">{% trans 'Session Expired' %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans 'Your session is expired' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'Ok' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock timer %}
