{% extends 'registration/mobile/base_mobile.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock lib_css %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'registration/scss/mobile/login.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block header_left %}
    <button type="button" class="btn btn-link" id="btn-back" {% if not skip_reservation_no %}style="display: none;"{% endif %}>
        <i class="fas fa-arrow-left"></i>
    </button>
    {% if not request.session.app %}
        <a href="{% url 'registration:index' %}" class="btn btn-link" id="btn-home" {% if skip_reservation_no %}style="display: none;"{% endif %}>
            <img src="{% static 'img/place.svg' %}" />
        </a>
    {% endif %}
    {{ block.super }}
{% endblock header_left %}

{% block content %}
    {{ block.super }}
    <form method="post" id="form-mobile-login" autocomplete="off">
        {% csrf_token %}
        {% render_field form.recaptcha %}
        <div class="row page-header">
            <div class="col-12 text-center">
                <span id="header-reservation-no" class="header-description {% if not skip_reservation_no %}active{% endif %}">
                    {% blocktrans %}Welcome to<br>Hotel {{ HOTEL_NAME }}{% endblocktrans %}</span>
                <span id="header-last-name" class="header-description {% if skip_reservation_no %}active{% endif %}">
                    {% blocktrans %}Please enter your<br>Last Name{% endblocktrans %}</span>
                <span id="header-arrival-date" class="header-description">
                    {% blocktrans %}Please confirm your<br>Arrival Date{% endblocktrans %}</span>
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-12 px-0 text-center text-secondary">
                <span id="subheader-reservation-no" class="subheader-description {% if not skip_reservation_no %}active{% endif %}">
                    {% blocktrans %}To begin the online check-in process,<br>please enter your reservation number.{% endblocktrans %}</span>
                <span id="subheader-last-name" class="subheader-description {% if skip_reservation_no %}active{% endif %}">
                    {% blocktrans %}To verify your reservation, please provide<br>your last name is in your passport.{% endblocktrans %}</span>
                <span id="subheader-arrival-date" class="subheader-description">
                    {% blocktrans %}To verify your reservation, please confirm<br>the arrival date at the hotel.{% endblocktrans %}</span>
            </div>
        </div>
        <div class="row page-content">
            <div class="col-12 d-flex justify-content-center">
                <div id="content-reservation-no" class="content-input {% if not skip_reservation_no %}active{% endif %}">
                    <div class="md-form input-center input-boxed my-0">
                        {% trans 'e.g. 12345678' as reservation_no_placeholder %}
                        {% render_field form.reservation_no class="form-control" placeholder=reservation_no_placeholder %}
                    </div>
                </div>
                <div id="content-last-name" class="content-input {% if skip_reservation_no %}active{% endif %}">
                    <div class="md-form input-center input-boxed my-0">
                        {% trans 'Last Name' as last_name_placeholder %}
                        {% render_field form.last_name class="form-control" placeholder=last_name_placeholder %}
                    </div>
                </div>
                <div id="content-arrival-date" class="content-input">
                    <div class="md-form input-boxed input-with-post-icon my-0">
                        {% render_field form.arrival_date class="form-control datepicker" data-date-format="yyyy-mm-dd" %}
                        <i class="far fa-calendar input-prefix text-primary text-22"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-footer">
            <div class="col-12 d-flex justify-content-center">
                <div id="footer-reservation-no" class="footer-button {% if not skip_reservation_no %}active{% endif %}">
                    <button type="button" class="btn btn-primary btn-round m-0" disabled>{% trans 'Next' %}</button>
                </div>
                <div id="footer-last-name" class="footer-button {% if skip_reservation_no %}active{% endif %}">
                    <button type="button" class="btn btn-primary btn-round m-0" disabled>{% trans 'Next' %}</button>
                </div>
                <div id="footer-arrival-date" class="footer-button">
                    <button type="submit" class="btn btn-primary btn-round m-0">{% trans 'Next' %}</button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal fade auto-show" id="form-error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">
                            {% if error == '1000' %}
                                {% trans 'registration_login:error_modal_title:1000' %}
                            {% elif error == '1001' %}
                                {% trans 'registration_login:error_modal_title:1001' %}
                            {% elif error == '1002' %}
                                {% trans 'registration_login:error_modal_title:1002' %}
                            {% elif error == 'recaptcha' %}
                                {% trans 'Invalid Input' %}
                            {% else %}
                                {% trans 'registration_login:error_modal_title:other' %}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {% if error == '1000' %}
                            {% trans 'registration_login:error_modal_body:1000' %}
                        {% elif error == '1001' %}
                            {% trans 'registration_login:error_modal_body:1001' %}
                        {% elif error == '1002' %}
                            {% trans 'registration_login:error_modal_body:1002' %}
                        {% elif error == 'recaptcha' %}
                            {% trans 'Failed to validate reCaptcha' %}
                        {% else %}
                            {% trans 'registration_login:error_modal_body:other' %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        {% if request.session.app and error == '1002' %}
                            <button type="button" class="btn btn-primary mx-auto" id="btn-ok" data-dismiss="modal">{% trans 'OK' %}</button>
                        {% else %}
                            <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'OK' %}</button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'registration/js/mobile/login.js' %}"></script>
{% endblock static_js %}