.content {
    .page-header {
        span:not(.active) {
            display: none;
        }
    }

    .page-subheader {
        span:not(.active) {
            display: none;
        }
    }
    
    .page-content {
        .input-step {
            &:not(.active) {
                display: none;
            }
        }
    
        .md-form {
            input {
                font-size: 18px;
                width: 263px;
                height: 58px;
                margin: 0;
            }
        }
    }
    
    .page-footer {
        button {
            width: 178px;
            height: 56px;
        }
    }
}