{% extends 'check_out/desktop/base_desktop.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_out/scss/desktop/complete.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block content %}
    {{ block.super }}
    <div class="row page-header">
        <div class="col-lg-12 px-0 text-center">
            {% trans 'Check-Out Successful' %}
        </div>
    </div>
    <div class="row page-subheader">
        <div class="col-lg-12 px-0 text-center text-secondary">
            {% blocktrans %}We hope you enjoy your stay with us,<br>and well see you again soon!{% endblocktrans %}
        </div>
    </div>
    <div class="row page-content">
        <div class="col-lg-12 d-flex justify-content-center">
            <img class="img-complete" src="{% static 'img/complete.png' %}">
        </div>
    </div>
{% endblock content %}

{% block footer_middle %}
    <div class="logo-gtriip">
        <img class="img-logo" src="{% static 'img/gtriip.png' %}">
        <small class="text-secondary">Powered by GTRIIP</small>
    </div>
{% endblock footer_middle %}