.content {
    .page-subheader {
        width: 358px;
    }
    
    .page-content {
    
        .md-form {
            input {
                font-size: 18px;
                height: 58px;
                margin: 0;
            }
        }
    }
}