h5 {
    font-weight: bold;
}

.content {
    .page-header {
        width: 174px;
    }
    .page-subheader {
        margin-top: 50px;
    }
    .page-content {
        margin-bottom: 70px;
        height: 350px;

        .default-container img {
            width: 298px;
        }
    }
}