.content {
    .page-header {
        margin-bottom: 45px;
    }
    
    .page-content {
        margin-bottom: 0;
    }

    .page-footer {

        #footer-description {
            width: 352px;
            margin-bottom: 26px;
        }

        #footer-next {
            margin-bottom: 26px;
        }

        #btn-ok {
            width: 150px;
        }
        .GTRIIP-logo{
            width: 15px;
            height: 18px;
        }
        #footer-logo {
            margin-top: 215px;
        }
        #footer-app {
            margin-top: 50px;
        }

    }
}
