{% extends 'registration/desktop/base_desktop.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
{% endblock lib_css %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'registration/scss/desktop/login.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block header_left %}
    <a href="{% url 'registration:index' %}" class="btn btn-link">
        <img src="{% static 'img/place.svg' %}" />
    </a>
    {{ block.super }}
{% endblock header_left %}

{% block content %}
    {{ block.super }}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row page-header">
            <div class="col-lg-12 text-center">
                {% blocktrans %}Welcome to<br>Hotel {{ HOTEL_NAME }}{% endblocktrans %}
            </div>
        </div>
        <div class="row page-subheader">
            <div class="col-lg-12 px-0 text-center text-secondary">
                {% blocktrans %}To begin the online check-in process, please enter the<br>information below.{% endblocktrans %}
            </div>
        </div>
        <div class="row page-content">
            <div class="col-lg-12">
                <div class="row mb-4">
                    <div class="col-lg-3 mx-auto">
                        <div class="md-form input-center input-boxed my-0">
                            {% trans 'Reservation Number' as reservation_no_placeholder %}
                            {% render_field form.reservation_no class="form-control" placeholder=reservation_no_placeholder %}
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-lg-3 mx-auto">
                        <div class="md-form input-center input-boxed my-0">
                            {% trans 'Last Name' as last_name_placeholder %}
                            {% render_field form.last_name class="form-control" placeholder=last_name_placeholder %}
                        </div>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-lg-3 mx-auto">
                        <div class="md-form input-center input-boxed input-with-post-icon my-0">
                            {% render_field form.arrival_date class="form-control datepicker" data-date-format="yyyy-mm-dd" %}
                            <i class="far fa-calendar input-prefix text-primary text-22"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row page-footer">
            <div class="col-lg-12 d-flex justify-content-center">
                <button type="submit" class="btn btn-primary btn-block btn-round m-0" id="btn-step-next" disabled>{% trans 'Next' %}</button>
            </div>
        </div>
    </form>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal fade auto-show" id="form-error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">
                            {% if error == 300 %}
                                {% trans 'registration_login_error_modal_title:300' %}
                            {% elif error == 400 %}
                                {% trans 'registration_login_error_modal_title:400' %}
                            {% else %}
                                {% trans 'registration_login_error_modal_title:other' %}
                            {% endif %}
                        </h4>
                    </div>
                    <div class="modal-body">
                        {% if error == 300 %}
                            {% trans 'registration_login_error_modal_body:300' %}
                        {% elif error == 400 %}
                            {% trans 'registration_login_error_modal_body:400' %}
                        {% else %}
                            {% trans 'registration_login_error_modal_body:other' %}
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'OK' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'registration/js/desktop/login.js' %}"></script>
{% endblock static_js %}