{% extends 'mobile/base_mobile.html' %}
{% load i18n %}
{% load static %}

{% block page_name %}{% trans 'Check In' %}{% endblock page_name %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'scss/mobile/check_in/base_check_in.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block data_js %}
{{ SESSION_EXPIRY_DATE|json_script:'session-expiry-date' }}
{% endblock data_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/mobile/check_in/base_check_in.js' %}"></script>
{% endblock static_js %}