{% extends 'mobile/check_in/base_check_in.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock lib_css %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'scss/mobile/check_in/login.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-12 px-0 text-center">
            <form method="post" id="form-mobile-login">
                {% csrf_token %}
                <div class="page-heading">
                    {% trans 'Welcome to' %}
                    <br>
                    {% trans 'Hotel' %} {{ HOTEL_NAME }}
                </div>
                <div class="page-subheading text-secondary">
                    {% trans 'To begin the online check-in process, please enter your reservation number.' %}
                </div>
                <div class="page-input">
                    <div class="input-step active" id="step-reservation-no">
                        <div class="md-form input-center input-boxed">
                            {% render_field form.reservation_no class="form-control" placeholder="e.g. 12345678" %}
                        </div>
                    </div>
                    <div class="input-step" id="step-last-name">
                        <div class="md-form input-center input-boxed">
                            {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                        </div>
                    </div>
                    <div class="input-step" id="step-arrival-date">
                        <div class="md-form input-boxed input-with-post-icon">
                            {% render_field form.arrival_date class="form-control datepicker" data-date-format="yyyy-mm-dd" %}
                            <i class="far fa-calendar input-prefix text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="page-button">
                    <button type="button" class="btn btn-primary btn-round m-0" id="btn-step-next" disabled>{% trans 'Next' %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal error-modal fade" id="error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="error-modal-label-{{ forloop.counter0 }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto" id="error-modal-label-{{ forloop.counter0 }}">{% trans 'Invalid Input' %}</h4>
                    </div>
                    <div class="modal-body">
                        {{ error }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'Fix' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/mobile/check_in/login.js' %}"></script>
{% endblock static_js %}