{% extends 'mobile/check_in/base_check_in.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'vendor/node_modules/croppie/croppie.css' %}">
{% endblock lib_css %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'scss/mobile/check_in/passport.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block nav %}
    {{ block.super }}
    <button type="button" class="btn btn-link" id="btn-back"><i class="fas fa-arrow-left"></i></button>
{% endblock nav %}

{% block content %}
    {{ block.super }}
    <div class="row">
        <div class="col-12 px-0 text-center">
            <form method="post" id="form-passport">
                {% csrf_token %}
                <div class="page-heading mx-auto">
                    {% trans 'Prepare your Passport for photo verification' %}
                </div>
                <div class="page-subheading text-secondary">
                    {% trans 'We need a photograph of your passport, or alternatively you may upload the image file.' %}
                </div>
                <div class="page-input">
                    {% render_field form.passport_file %}
                    {% render_field form.skip_passport %}
                    <div class="default-container">
                        <img src="{% static 'img/mobile-passport.png' %}" width="298px">
                    </div>
                    <div class="preview-container" style="display: none;">
                        <img id="img-preview">
                    </div>
                </div>
                <div class="page-button">
                    <div class="row mx-0 default-container">
                        <div class="col-12">
                            <label class="btn btn-primary btn-round text-capitalize mb-3">
                                {% trans 'Take Photo' %}
                                <input type="file" id="file-capture" accept="image/*" capture="camera" hidden>
                            </label>
                        </div>
                    </div>
                    <div class="row mx-0 default-container">
                        <div class="col-12">
                            <label class="btn btn-outline-primary btn-round text-capitalize mb-3">
                                {% trans 'Upload Photo' %}
                                <input type="file" id="file-upload" accept="image/*" hidden>
                            </label>
                        </div>
                    </div>
                    <div class="row mx-0 preview-container" style="display: none;">
                        <div class="col-12">
                            <button type="button" class="btn btn-primary mb-3" id="btn-next">{% trans 'Next' %}</button>
                        </div>
                    </div>
                    <div class="row mx-0 preview-container" style="display: none;">
                        <div class="col-12">
                            <label class="btn btn-outline-primary btn-round text-capitalize mb-3">
                                {% trans 'Retake' %}
                                <input type="file" id="file-capture" accept="image/*" capture="camera" hidden>
                            </label>
                        </div>
                    </div>
                    <div class="row mx-0">
                        <div class="col-12">
                            <button type="button" class="btn btn-link text-primary text-capitalize" id="btn-skip">{% trans "I'll do it manually" %}</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block wrapper %}
    {{ block.super }}
    <!-- Error Modal -->
    {% for error in form.non_field_errors %}
        <div class="modal fade" id="error-modal-{{ forloop.counter0 }}" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">{% trans 'Invalid Image' %}</h4>
                    </div>
                    <div class="modal-body">
                        {{ error }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'Close' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock wrapper %}

{% block lib_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'vendor/node_modules/compressorjs/dist/compressor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/node_modules/croppie/croppie.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/mobile/check_in/passport.js' %}"></script>
{% endblock static_js %}