/* TIMER */
.timer {
    padding: 12px 0;
    display: flex;
    width: 100%;

    .container {
        min-height: 17px;
        text-align: center;
    }

    .timer-text {
        line-height: 16px;
    }
}
    

/* CONTENT */
.content {
    // padding: 30px 15px;
    // z-index: 1;

    .page-heading {
        font-size: 24px;
        margin-bottom: 27px;
        line-height: 29px;
    }

    .page-subheading {
        margin: 0 auto 45px auto;
        line-height: 17px;
    }

    .page-input {
        margin-bottom: 46px;
    }

    .page-button {
        margin-bottom: 45px;
    }
}
