/* TIMER */
.timer {
    padding: 12px 0;
    display: flex;
    width: 100%;

    .container {
        min-height: 17px;
        text-align: center;
    }

    .timer-text {
        line-height: 16px;
    }
}
