{% extends 'guest_base/base.html' %}
{% load i18n %}
{% load static %}

{% block page_name %}{{ HOTEL_NAME }} - {% trans 'Pre Arrival' %}{% endblock page_name %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pre_arrival/scss/base.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block progress_page %}
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ previous_page_progress_rate }}%;" aria-valuenow="{{ previous_page_progress_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{% endblock progress_page %}

{% block language %}
    {% if not request.session.pre_arrival.preload.app %}
        <form id="form-set-language" action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ redirect_to }}">
            <select id="language" name="language" class="md-select borderless-select">
                {% for language in AVAILABLE_LANGUAGES %}
                    <option value="{{ language.0 }}"
                    {% if language.0 == LANGUAGE_CODE %}selected{% endif %}>
                        {{ language.1 }}
                    </option>
                {% endfor %}
            </select>
        </form>
    {% endif %}
{% endblock %}

{% block data_js %}
    {{ block.super }}
    {{ PRE_ARRIVAL_EXPIRY_DATE|json_script:'pre-arrival-expiry-date' }}
    {{ current_page_progress_rate|json_script:'current-page-progress-rate' }}
{% endblock data_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'pre_arrival/js/base.js' %}"></script>
{% endblock static_js %}