{% extends 'guest_base/base.html' %}
{% load i18n %}
{% load static %}

{% block page_name %}{{ HOTEL_NAME }} - {% trans 'Pre Arrival' %}{% endblock page_name %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'pre_arrival/scss/base.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block progress_page %}
    <div class="progress ">
        <div class="progress-bar" role="progressbar" style="width: {{ previous_page_progress_rate }}%;" aria-valuenow="{{ previous_page_progress_rate }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{% endblock progress_page %}

{% block header_right %}
    {% if not request.session.app %}
        {{ block.super }}
    {% endif %}
{% endblock header_right %}

{% block header_middle %}
    {% if request.path not in '/pre_arrival/login/,/pre_arrival/complete/' %}
        <div class="timer-text text-secondary">
            <span class="timer-tick"></span>
        </div>
    {% endif %}
{% endblock header_middle %}

{% block wrapper %}
    {{ block.super }}
    {% if request.path not in '/pre_arrival/login/,/pre_arrival/complete/' %}
        <!-- Timer Extension Modal -->
        <div class="modal fade" id="timer-extension-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <form id="form-timer-extension">
                        {% csrf_token %}
                        <div class="modal-header bg-primary text-white">
                            <h4 class="modal-title mx-auto">{% trans 'Session Expiring' %}</h4>
                        </div>
                        <div class="modal-body mb-5 mx-4">
                            <div class="row mb-4">
                                <div class="col-lg-12">
                                    {% trans 'Your session is expiring soon' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    {% trans 'Remaining session time:' %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <span class="timer-tick"></span>
                                    <input type="hidden" name="expiry_date" value="{{ PRE_ARRIVAL_INITIAL_EXPIRY_DATE }}">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary mx-auto">{% trans 'Extend' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Timer Expired Modal -->
        <div class="modal fade" id="timer-expired-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-primary text-white">
                        <h4 class="modal-title mx-auto">{% trans 'Session Expired' %}</h4>
                    </div>
                    <div class="modal-body">
                        {% trans 'Your session is expired' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary mx-auto" data-dismiss="modal">{% trans 'Ok' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock wrapper %}

{% block data_js %}
    {{ block.super }}
    {{ PRE_ARRIVAL_INITIAL_EXPIRY_DATE|json_script:'pre-arrival-initial-expiry-date' }}
    {{ PRE_ARRIVAL_EXTENDED_EXPIRY_DATE|json_script:'pre-arrival-extended-expiry-date' }}
    {{ current_page_progress_rate|json_script:'current-page-progress-rate' }}
{% endblock data_js %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'pre_arrival/js/base.js' %}"></script>
{% endblock static_js %}
