.content {
    .page-content {
        margin-bottom: 0;
        
        .btn {
            width: 220px;
        }

        i.icon-btn {
            float: right;
            position: relative;
            top: 3px;
        }
    }

    .page-footer {
        .btn {
            width: 220px;
        }
    }
}