{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block page_name %}{{ HOTEL_NAME }} | {% trans 'Check Out' %}{% endblock page_name %}

{% block static_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'check_out/scss/base.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block progress_page %}
    {% if not request.session.app %}
        <div class="progress ">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    {% endif %}
{% endblock progress_page %}

{% block header_right %}
    {% if not request.session.app %}
        {{ block.super }}
    {% endif %}
{% endblock header_right %}

{% block static_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'check_out/js/base.js' %}"></script>
{% endblock static_js %}
