.content {

    .page-header {
        font-size: 24px;
        line-height: 29px;
        margin: 0 auto 27px auto;
        width: 272px;
    }
    
    .page-subheader {
        margin: 0 auto 45px auto;
        line-height: 17px;
        width: 219px;
    }

    .page-content {
        margin-bottom: 45px;

        #img-404 {
            width: 100%;
        }
    }
}
