.content {
    .page-header {
        margin-bottom: 45px;
    }
    
    .page-content {
        margin-bottom: 0;
    }

    .page-footer {

        #footer-description {
            width: 352px;
            margin-bottom: 26px;
        }

        #footer-next {
            margin-bottom: 26px;
        }

        #footer-app {
            #instruction {
                width: 190px;
                margin: 0 25px;
                display: flex;
                align-items: center;
            }

            #hotel-logo {
                width: 90px;
            }

            #app-store img {
                width: 145px;
                margin-right: 27px;
            }
            
            #google-play img {
                width: 145px;
                margin-left: 27px;
            }
        }

        #btn-ok {
            width: 150px;
        }
    }
}
