.content {
    .page-header {
        margin-bottom: 45px;
    }
    
    .page-content {
        margin-bottom: 0;
    }

    .page-footer {
        #footer-description {
            margin-bottom: 26px;
            max-width: 352px;
            margin-right: auto;
            margin-left: auto;
        }

        #footer-next {
            margin-bottom: 26px;
        }

        #footer-app {
            .img-get-key {
                margin-right: 10px;
            }
            
            #app-store img {
                width: 145px;
                margin-right: 27px;
            }
            
            #google-play img {
                width: 145px;
                margin-left: 27px;
            }
        }
    }
}
