.content {
    
    .page-content {
        padding: 0 23px;
        margin-bottom: 20px;

        #terms-conditions {
            text-align: center;
            width: 308px;
            margin: 0 auto;
            line-height: 13px;
        }
    }

    .page-footer {
        .btn {
            width: 180px;
        }
    }
}