.content {
    .page-header {
        width: 190px;
    }

    .page-subheader {
        width: 209px;
    }
    
    .page-content {
        height: 377px;
        overflow-y: scroll;

        .reservation-container:hover {
            cursor: pointer;
        }
    }
}
