.content {
    .page-header {
        width: 190px;
    }

    .page-subheader {
        width: 209px;
    }
    
    .page-content {
        .reservation-container:hover {
            cursor: pointer;
        }
    }
}
