.content {
    .page-header {
        margin-bottom: 45px;
    }
    
    .page-content {
        margin-bottom: 0;
        .img-complete {
            width: 350px;
            height: 350px;
        }
    }
}