{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block page_name %} - {% trans 'Check In' %}{% endblock page_name %}

{% block timer %}
    {% if '/login' not in request.path %}
        <div class="timer-text">
            <i class="far fa-clock"></i>
            <span id="timer-tick"></span>
        </div>
    {% endif %}
{% endblock timer %}

{% block hotel_logo %}
<a href="{% url 'guest_app:checkin-login' %}" alt>
    <img id="hotel-logo" src="{% static 'img/logo.png' %}"/>
</a>
{% endblock hotel_logo %}

{% block data_js %}
{{ SESSION_EXPIRY_DATE|json_script:'session-expiry-date' }}
{% endblock data_js %}

{% block static_js %}
    {% if '/login' not in request.path %}
        <script type="text/javascript" src="{% static 'js/check_in/base_checkin.js' %}"></script>
    {% endif %}
{% endblock static_js %}