{% extends 'check_in/base_check_in.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock lib_css %}

{% block static_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'scss/check_in/login.scss' %}" type="text/x-scss" media="screen">
{% endblock static_css %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-12 col-sm-8 col-md-7 col-lg-5 mx-auto">
        <div class="card">
            <div class="text-center py-4">
                <h4 class="font-weight-bold">{% trans 'Check-in Registration' %}</h5>
                <div class="font-weight-lighter">{% trans 'Enter reservation details to start' %}</div>
            </div>
            <div class="card-body px-4 px-lg-5 pt-0">
                <form method="post">
                    {% csrf_token %}
                    <div class="md-form">
                        {{ form.reservation_no.label_tag }}
                        {% if form.is_bound and form.reservation_no.errors %}
                            <!-- bound and has error -->
                            {% render_field form.reservation_no class="form-control is-invalid" %}
                            <!-- error feedback -->
                            {% for error in form.reservation_no.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            <!-- not bound or no error -->
                            {% render_field form.reservation_no class="form-control" %}
                            {% if form.reservation_no.help_text %}
                                <small class="form-text text-muted">{{ form.reservation_no.help_text }}</small>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="md-form input-with-post-icon">
                        {{ form.arrival_date.label_tag }}
                        {% if form.is_bound and form.arrival_date.errors %}
                            <!-- bound and has error -->
                            {% render_field form.arrival_date class="form-control datepicker is-invalid" data-date-format="yyyy-mm-dd" %}
                            <!-- error feedback -->
                            {% for error in form.arrival_date.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            <!-- not bound or no error -->
                            {% render_field form.arrival_date class="form-control datepicker" data-date-format="yyyy-mm-dd" %}
                            <i class="far fa-calendar input-prefix"></i>
                            {% if form.arrival_date.help_text %}
                                <small class="form-text text-muted">{{ form.arrival_date.help_text }}</small>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="md-form">
                        {{ form.last_name.label_tag }}
                        {% if form.is_bound and form.last_name.errors %}
                            <!-- bound and has error -->
                            {% render_field form.last_name class="form-control is-invalid" %}
                            <!-- error feedback -->
                            {% for error in form.last_name.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% else %}
                            <!-- not bound or no error -->
                            {% render_field form.last_name class="form-control" %}
                            {% if form.last_name.help_text %}
                                <small class="form-text text-muted">{{ form.last_name.help_text }}</small>
                            {% endif %}
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block my-5 waves-effect">{% trans 'Next' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block lib_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/check_in/login.js' %}"></script>
{% endblock static_js %}