{% extends 'check_in/base_checkin.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block lib_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/node_modules/croppie/croppie.css' %}">
<style>
    .croppie-container .cr-slider-wrap {
        width: 100%;
        margin-bottom: 0;
        display: flex;
        justify-content: space-around;
    }
</style>
{% endblock lib_css %}

{% block content %}
{{ block.super }}
<div class="row">
    <div class="col-12 col-sm-8 col-md-7 col-lg-6 mx-auto">
        <div class="text-center py-4">
            <h4 class="font-weight-bold">{% trans 'Submit Passport Document' %}</h5>
            <div class="font-weight-lighter">{% trans 'Take picture or upload image' %}</div>
        </div>
        <form method="post" id="frm-passport">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <video id="vid-show" autoplay width="427" height="320"></video>
                    <img id="vid-img" hidden width="427" height="320">
                    {% render_field form.passport_file %}
                    {% render_field form.skip_passport %}
                    {{ form.skip_passport.errors }}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-8 col-md-6 col-lg-5 mx-auto">
                    <button type="button" class="btn btn-primary btn-block" id="btn-capture">
                        <i class="fas fa-camera pr-2" aria-hidden="true"></i>
                        {% trans 'Capture' %}
                    </button>
                    <label class="btn btn-primary btn-block" id="btn-mobile-capture" hidden>
                        <i class="fas fa-camera pr-2" aria-hidden="true"></i>
                        {% trans 'Capture' %}
                        <input type="file" id="file-mobile-capture" accept="image/*" capture=camera hidden>
                    </label>
                    <button type="button" class="btn btn-primary btn-block" id="btn-next" hidden>
                        {% trans 'Next' %}
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-8 col-md-6 col-lg-5 mx-auto">
                    <label class="btn btn-primary btn-block" id="btn-upload">
                        <i class="far fa-image pr-2" aria-hidden="true"></i>
                        {% trans 'Upload' %}
                        <input type="file" id="file-upload" accept="image/*" hidden/>
                    </label>
                    <button type="button" class="btn btn-outline-primary btn-block" id="btn-retake" hidden>
                        {% trans 'Retake' %}
                    </button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-6 mx-auto">
                    <button type="button" class="btn btn-link btn-block text-primary" id="btn-skip">
                        {% trans 'Skip to Guest Details' %}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block lib_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'vendor/node_modules/compressorjs/dist/compressor.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/node_modules/croppie/croppie.min.js' %}"></script>
{% endblock lib_js %}

{% block static_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/check_in/passport.js' %}"></script>
{% endblock static_js %}