.content {

    .page-footer {
        .btn {
            width: 310px;
        }

        i.icon-btn {
            float: right;
            position: relative;
            top: 3px;
        }
    }
}


#modal-confirmation {
    .modal-footer .btn {
        width: 125px;
    }
}
