/* HEADER */
.header {
    .timer-text {
        margin-left: 10px;

        .timer-tick {
            line-height: 18px;
        }
    }
}


/* CONTENT */
.content {

    .page-header {
        font-size: 24px;
        line-height: 29px;
        margin: 0 auto 27px auto;
        max-width: 330px;
    }

    .page-subheader {
        margin: 0 auto 45px auto;
        line-height: 17px;
        max-width: 330px;
    }

    .page-content {
        margin-bottom: 45px;
    }

    .page-footer {
        margin-bottom: 45px;
    }
}


/* FOOTER */
.footer {
    .logo-gtriip {
        .img-logo {
            width: 10px;
            height: 15px;
            margin-right: 10px;
        }
    }
}


/* RESERVATION THUMBNAIL */
$reservation-radius: 10px;

.reservation-container {
    margin: 0 auto 18px auto;
    width: 100%;
    max-width: 330px;
    position: relative; 

    &.active {
        .reservation-overlay {
            display: none;
        }

        .reservation-checkbox-icon {
            display: block;
        }
    }

    .reservation-overlay {
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(#fff, .6);
        position: absolute;
        border-radius: $reservation-radius;
    }

    .label-reservation {
        background-size: cover;
        width: 100%; 
        max-width: 330px;
        height: 172px;
        margin-bottom: 0;
        border-top-right-radius: $reservation-radius;
        border-top-left-radius: $reservation-radius;
    }

    .reservation-details {
        display: flex;
        justify-content: space-between;

        & > div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .room-type {
            min-width: 130px;
            height: 34px;
            padding: 0 10px;
            background-color: rgba(#000, .6);
            border-top-left-radius: $reservation-radius;
            border-bottom-right-radius: $reservation-radius;
        }

        .reservation-checkbox {
            margin: 13px;
            width: 40px;
            height: 40px;
        }
    }

    .reservation-checkbox-icon {
        display: none;
        position: relative;
        width: 40px;
        height: 40px;
        background-color: #000;
        border-radius: 50%;
        
        &:after {
            content: "";
            position: absolute;
            left: 14px;
            top: 4px;
            width: 13px;
            height: 26px;
            border: solid white;
            border-width: 0 4px 4px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .reservation-date {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
        padding: 11px 20px;
        display: flex;
        justify-content: space-between;
        border-bottom-right-radius: $reservation-radius;
        border-bottom-left-radius: $reservation-radius;
    }
}
