.content {
    .page-subheading {
        width: 230px;
    }
    
    .page-input {
        .input-step {
            &:not(.active) {
                display: none;
            }
        }
    
        .md-form {
            input {
                font-size: 18px;
                width: 263px;
                height: 58px;
                margin: 0;
            }
    
            &.input-with-post-icon .input-prefix {
                font-size: 22px;
            }
        }
    }
    
    .page-button {
        button {
            width: 178px;
            height: 56px;
        }
    }
}